{% extends 'base.html' %}
{% load widget_tweaks %}
{% block contenido %}
{% load static %}
<title>{% if form.instance.pk %}Editar Paciente{% else %}Crear Paciente{% endif %}</title>
<body>
  <main>
    <div class="modal modal-signin position-static d-block py-5">
      <div class="modal-dialog my-5">
        <div class="modal-content rounded-5 shadow">
          <div class="modal-content shadow text-center error rounded-bottom rounded-5">
            <span class="rounded-bottom rounded-5">{{ error }}</span>
          </div>
          <div class="d-flex justify-content-center py-4">
            <a class="login__logo navbar-brand" href="{% url 'index' %}">Happy<span>Tails</span>&trade;</a>
          </div>
          <div class="modal-header pb-2 border-bottom-0 justify-content-center">
            <h2 class="h3 mt-2 mb-4">{% if form.instance.pk %}Editar Paciente{% else %}Crear Paciente{% endif %}</h2>
          </div>
          <div class="modal-body p-5 pt-0">
            <form method="post">
              {% csrf_token %}
              {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error }}
              </div>
              {% endfor %}
              
              <div class="form-floating mb-4">
                {% render_field form.nombre_paciente class="form-control rounded-4" %}
                <label for="{{ form.nombre_paciente.id_for_label }}">Nombre del Paciente</label>
                {% for error in form.nombre_paciente.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
                {% endfor %}
              </div>

              <div class="form-group{% if form.sexo_paciente.errors %} has-error{% endif %}">
                <label for="{{ form.sexo_paciente.auto_id }}" class="col-md-3 control-label">{{ form.sexo_paciente.label }}</label>
                <div class="form-floating mb-4">
                  {% render_field form.sexo_paciente class="form-control" %}
                  {% for error in form.sexo_paciente.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                  {% endfor %}
                </div>
              </div>

              <div class="form-floating mb-4">
                {% render_field form.fecha_nacimiento_paciente type="date" class="form-control rounded-4" %}
                <label for="{{ form.fecha_nacimiento_paciente.id_for_label }}">Fecha de Nacimiento</label>
                {% for error in form.fecha_nacimiento_paciente.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
                {% endfor %}
              </div>

              <div class="form-floating mb-4">
                {% render_field form.color_paciente class="form-control rounded-4" %}
                <label for="{{ form.color_paciente.id_for_label }}">Color del Paciente</label>
                {% for error in form.color_paciente.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
                {% endfor %}
              </div>

              <div class="form-floating mb-4">
                {% render_field form.observacion_paciente class="form-control rounded-4" %}
                <label for="{{ form.observacion_paciente.id_for_label }}">Observaciones</label>
                {% for error in form.observacion_paciente.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
                {% endfor %}
              </div>

              <div class="form-group{% if form.tipo_paciente.errors %} has-error{% endif %}">
                <label for="{{ form.tipo_paciente.auto_id }}" class="col-md-3 control-label">{{ form.tipo_paciente.label }}</label>
                <div class="form-floating mb-4">
                  {% render_field form.tipo_paciente class="form-control" %}
                  {% for error in form.tipo_paciente.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                  {% endfor %}
                </div>
              </div>

              <button class="w-100 mb-2 btn btn-lg btn-acceder boton-registrarse" type="submit">{% if form.instance.pk %}Guardar{% else %}Crear{% endif %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
{% endblock %}
