{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<title>Editar informacion</title>
    <h1>Editar Información del Cliente</h1>
    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}
        
        <button type="submit">Guardar cambios</button>
    </form>

    {% if success %}
        <p>Cambios guardados exitosamente.</p>
    {% endif %}

  </body>
{% endblock %}                                                                                                                                         