{% extends 'base.html' %}
{% load widget_tweaks %}
{% block contenido %}
{% load static %}
<title>Editar Cliente</title>
<body>
    <main>
        <div class="modal modal-signin position-static d-block py-5">
            <div class="modal-dialog my-5">
                <div class="modal-content rounded-5 shadow">
                    <div class="modal-content shadow text-center error rounded-bottom rounded-5">
                        <span class="rounded-bottom rounded-5">{{error}}</span>
                    </div>
                    <div class="d-flex justify-content-center py-4">
                        <a class="login__logo navbar-brand" href="{% url 'index' %}">Happy<span>Tails</span>&trade;</a>
                    </div>
                    <div class="modal-header pb-2 border-bottom-0 justify-content-center">
                        <h2 class="h3 mt-2 mb-4">Editar Cliente</h2>
                    </div>
                    <div class="modal-body p-5 pt-0">
                        <form method="post">
                            {% csrf_token %}
                            {% comment %} <div class="form-floating mb-4">
                                <input type="text" name="numrut_cliente" class="form-control rounded-4" id="numrut_cliente"
                                    placeholder="Número de RUT Cliente" value="{{ form.numrut_cliente.value }}" readonly>
                                <label for="numrut_cliente">Número de RUT Cliente</label>
                            </div> {% endcomment %}
                            <div class="form-floating mb-4">                                
                                <input type="text" name="telefono_cliente" class="form-control rounded-4" id="telefono_cliente"
                                    placeholder="Teléfono" value="{{ form.telefono_cliente.value }}">
                                <label for="telefono_cliente">Teléfono</label>
                            </div>

                            <div class="form-floating mb-4">
                                <input type="text" name="direccion_cliente" class="form-control rounded-4" id="direccion_cliente"
                                    placeholder="Dirección" value="{{ form.direccion_cliente.value }}">
                                <label for="direccion_cliente">Dirección</label>
                            </div>

                            <div class="form-group {% if form.comuna.errors %} has-error{% endif %}">
                                <label for="{{ form.comuna.auto_id }}" class="col-md-3 control-label">{{ form.comuna.label }}</label>
                                <div class="form-floating mb-4">
                                    {% render_field form.comuna class="form-control" %}
                                    {% for error in form.comuna.errors %}
                                    <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="form-group{% if form.estado_civil.errors %} has-error{% endif %}">
                                <label for="{{ form.estado_civil.auto_id }}" class="col-md-3 control-label">{{ form.estado_civil.label }}</label>
                                <div class="form-floating mb-4">
                                    {% render_field form.estado_civil class="form-control" %}
                                    {% for error in form.estado_civil.errors %}
                                    <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>

                            <button class="w-100 mb-2 btn btn-lg btn-acceder boton-registrarse" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
{% endblock %}                                                                                                                                   